.sign-card {
  border-left: 3px solid hotpink;
  border-right: 2px solid hotpink;
  justify-content: center;
  display: flex;
  width: 650px;
  margin: 200px auto;
  box-shadow: 15px 10px 15px hotpink;
  border-radius: 10px;
}

.input-group span {
  border-bottom: 1px solid hotpink;
  padding-bottom: 2px;
}
.input-div,
.btn-div {
  padding-top: 50px;
  padding-bottom: 50px;
}
.input-group {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}
.input-group input {
  border: none;
  width: 98%;
  height: 30px;
  padding: 6px 20px;
  font-size: large;
  border-bottom: 1px solid hotpink;
  background-color: white;
}
.input:focus,
select:focus,
textarea:focus {
  box-shadow: none;
  outline: none;
  background-color: white;
}
.input-div,
.btnn-div {
  width: 300px;
  display: grid;
  grid-template-rows: 350px 50px;
  justify-content: center;
}
.btnn-div button {
  width: 200px;
  height: 40px;
  margin: 0px auto;
  border: none;
  background-color: hotpink;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.btnn-div button:focus {
  box-shadow: none;
  outline: none;
}
#checkbox {
  display: inline-block;
  width: 10px;
}
.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid hotpink;
  border-radius: 5px;
}
.social-links button {
  cursor: pointer;
  background-color: white;
  border: none;
}
.social-links button:focus {
  outline: none;
  opacity: 0.5;
}
.social-links button:hover {
  opacity: 0.5;
}
.btn {
  width: 90px;
  height: 40px;
  box-shadow: none;
  border-radius: 5px;
  border: 1px solid hotpink;
  font-size: 15px;
  font-weight: 200;
  cursor: pointer;
  outline: none;
  background-color: hotpink;
  color: white;
}
.btn:hover {
  background-color: yellow;
  color: black;
  border: 1px solid hotpink;
}
@media (max-width: 900px) {
  .input-group span {
    padding-bottom: 4px;
  }
  .sign-card {
    display: flex;
    flex-direction: column-reverse;
    width: 320px;
  }
  .btnn-div {
    border-top: 1px solid hotpink;
    padding-top: 30px;
  }
  .input-div {
    padding-bottom: 30px;
  }
  .input-div,
  .btnn-div {
    margin: 0 auto;
  }
}
